body {
  background-color: #dcd0d0;
  
}
.botones {
  background-color: #E6C8B9;
  border-color: #E6C8B9 !important;
  color: black !important;
  font-family: Poppins;
  
  }
  h3, h2 {
    font-family: Pacifico;
  }
 
