<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Poppins" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/images/10-9-cm-amor-gato-perro-huellas-car-styling-decoraci-n-Decal-sticker-car-window-cover.jpg_640x640.ico"
    type="image/x-icon">
  <link rel="stylesheet" href="../assets/Bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/sidebar.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


  <title>Pata-Amiga</title>
</head>

<body>
  <div class="wrapper">
    <nav id="sidebar">
      <div class="sidebar-header fondo">
        <h2>Pata-amiga</h2>
        <img id="pata" src="../assets/images/10-9-cm-amor-gato-perro-huellas-car-styling-decoraci-n-Decal-sticker-car-window-cover.jpg_640x640.ico"
          width="100%" alt="">
      </div>
      <ul class="list-unstyled components">
        <figure id="user-photo"></figure>
        <p id="user-name"></p>
        <li>
          <a href="#" id="store"> <i class="fas fa-store"></i> Tienda</a>
        </li>
        <li>
          <a href="#" id="shelter"><i class="fas fa-home"></i> Albergues</a>
        </li>
        <li>
          <a href="#" id="veterinarian"><i class="fas fa-people-carry"></i> Veterinarios solidarios</a>
        </li>
        <li>
          <a href="#" id="dogs"><i class="fas fa-medal"></i> Nuestros logros</a>
        </li>
      </ul>
      <div id="logout-box">
        <input id="btn-logout" type="button" value="Salir" class="btn botones">
      </div>
    </nav>
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light barra">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="navbar-btn">
            Menú
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto botoncito" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent">
            <i class="fas fa-align-justify">+</i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link btn botones" href="#" type="button" id="donate">Dona aquí</a>
              </li>
              <li class="nav-item active">

              </li>
            </ul>
          </div>
        </div>
      </nav>
      <article class="container tarjetas">
        <section class="row">
          <div class="col">
            <div class="card">
              <img class="card-img-top" src="../assets/images/2Q_3b39b88f-85eb-4267-9c1f-51f2cce22ca5_large.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Impermeable/ diferentes tallas</h5>
                <button class="btn botones">Enviar con rappi</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">$150</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../assets/images/accesorios-perros-venta-bogota.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Camita/ diferentes tamaños</h5>
                <button class="btn botones">Enviar con rappi</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">$200</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../assets/images/imagenes2717a.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Collar canino/ varios colores</h5>
                <button type="button" class="btn botones">Enviar con rappi</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">$50</small>
              </div>
            </div>
          </div>
        </section>
      </article>

      <div class="card-deck otrasTarjetas">
        <div class="card">
          <img class="card-img-top" src="../assets/images/accesorios-perros-venta-bogota.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Camita para perro</h5>
            <p class="card-text">Camita de diferentes tamaños para todo tipo de perro. Corte sintético. Lavable. </p>
            <p> <em>Tu
                compra ayuda a quitar a un perrito más de la calle y al desarrollo económico de mujeres en siutuación
                de
                vulnerabilidad social.</em> </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../assets/images/2Q_3b39b88f-85eb-4267-9c1f-51f2cce22ca5_large.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Impermeables de temporada</h5>
            <p class="card-text">Impermeable de todas las tallas para todos la temporada de lluvias, varios colores.
              Labable y resistente. </p>
            <p> <em>Tu
                compra ayuda a quitar a un perrito más de la calle y al desarrollo económico de mujeres en siutuación
                de
                vulnerabilidad social.</em> </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../assets/images/images.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bolsitas desechables biodegradables</h5>
            <p class="card-text">Bolsitas con dispensador, tres rollos. Biodegradables 100%. Con aromatizante.</p>
            <p> <em>Tu
                compra ayuda a quitar a un perrito más de la calle y al desarrollo económico de mujeres en siutuación
                de
                vulnerabilidad social.</em> </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <footer>
        <p>© Copyright 2018 || Todos los derechos reservados ||https://github.com/BrisiaCastrejon/MxHacksV-Huellitas ||
          Brisia, Vania, Queletzu </p>
      </footer>

      <!--Firebase project link-->
      <script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
      <!--Scripts JS-->
      <script src="../js/firebase.js"></script>
      <script src="../js/index.js"></script>
      <script src="../js/app.js"></script>
      <script src="../assets/Bootstrap/js/jQuery.js"></script>
      <script src="../assets/Bootstrap/js/bootstrap.min.js"></script>

      <script type="text/javascript">
        $(document).ready(function () {
          $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
          });
        });    
      </script>
</body>

</html>